body {
	margin: 0;
	font-family: Century, Helvetica, sans-serif;
}

#TopNavBar {
	font-family: Ariel, Helvetica, sans-serif;
	text-align: center;
	overflow:hidden;
	background-color: #333;
	position: relative;
	top: 0;
	width: 100%;
	transition: top 0.3s;
}

#TopNavBar a {
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	font-size: 17px;
}

#TopNavBar a:hover {
	background-color: #ddd;
	color: black;
}

#TopNavBar a:active {
	background-color: Silver;
	color: white;
}

#MainHeading {
	position: top;
	text-align: center;
	font-size:60px;
}

#MainHeadingSection {
	background-color: BurlyWood;
	padding: 5px 15px 25px;
}
-->
.HeadingSectionBlue {
	background-color: CornflowerBlue;
	padding:5px 15px 200px;
	font-size:20px;
	text-align: center;
}

.HeadingSectionBlueNetworking {
	background-color: CornflowerBlue;
	padding:5px 75px 80px;
	font-size:20px;
	text-align: left;
	display: flex;
}

.HeadingSection {
	padding:10px 15px 250px;
	font-size:20px;
}

#NetworkImage {
	float: right;
	width: 300px;
	height: 280px;
}